footer.vp-footer div.container div.message{
    color: rgba(0,0,0,0.2);
}

footer.vp-footer div.container div.message>a{
    color: rgba(0,0,0,0.2);
}

.vp-doc>div>img{
    margin-left: 50%;
    transform: translate(-50%, 0);
}